.chat-main
  .chat-main__group-info
    .group-info__left
      .main__group-name
        = @group[:name]
      .main__member-name
        - @group.users.each do |user|
          %span.main__member-name #{user.name} 
    .group-info__right
      = link_to "Edit", edit_group_path(@group)
  .chat-main__message-list
    .messages
      = render @messages
  .chat-main__message-form
    = form_for [@group, @message], html: { class: "form-flex"} do |f|
      .message-from__left
        .text-box
          = f.text_field :content, placeholder: 'type a message'
          .image-box
            = f.label :image do
              = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'text-hidden' 
      .message-form__right
        = f.submit 'Send', id: "send"


