.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .top-item__name
        = current_user.name
      .top-item__icons
        = link_to new_group_path do
          = icon('far', 'edit', class: "contents__btn")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "contents__btn--setting")
  .side-bar__group-list
    .group__block
      - current_user.groups.each do |group|
        .group
          = link_to "#" do
            .group__name
              =group.name
            .group__massage
              まだノーメッセージ   
    .group__block
      .group__name
        techcamp
      .group__message
        まだメッセージがありまへん
    .group__block
      .group__name
        techcamp
      .group__message
        まだメッセージがありまへん
    .group__block
      .group__name
        techcamp
      .group__message
        まだメッセージがありまへん                